/ppae
/wandb
/logs
/pipeline/data/*
# !/pipeline/data/all/243/*
# !/pipeline/data/all/processed/*
/pipeline/logs/*
/pipeline/100features/*
/pipeline/cluster_plots/*
/pipeline/plots/*
/pipeline/webapp/*
/pipeline/libs/*
/Archived/*
/MarkdownFiles/*
/models/*
/Notebooks/*
/plots/*
/temp\ RNN\ disposal/*
/training_plots/*


training_plots/**/*.txt
plots/**/*.txt

*.out
*.err

inaccessible_lightcurves.txt
